.tower-group-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  }
  .tower-1-1 {
  align-self: flex-start;
  }
  .tower-1-2 {
  align-self: flex-end;
  }
  .tower-1-3 {
  align-self: flex-start;
  }
  .tower-1-4 {
  align-self: flex-end;
  }