@charset "UTF-8";

div#tv-radio {
    width: 900px;
    height: 580px;
    margin: auto;
    background: url('../_imagens/radio-tv.png') no-repeat;
}

audio#musica {
    display: block;
    position: relative;
    left: 570px;
    top: 480px;
    width: 300px;
    
}

video#filme {
    display: block;
    position: relative;
    left: 100px;
    top: 100px;
    width: 400px;
}